<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/style.css}"/>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
            crossorigin="anonymous"></script>

    <title>Uczeń</title>
</head>
<body>
<h1>Informacje o uczniu</h1>
<h2 style="text-align: center">Podstawowe dane</h2>
<div class="containerButtons">

    <button class="btnSt" type="button"><a th:href="@{'/updateStudent/' + ${student.id}}" style="color: black">
        Edytuj dane ucznia</a></button>

    <button type="button" class="btnSt"><a th:href="@{'/confirmDelete/' + ${student.id}}" style="color: black">Usuń
        ucznia</a></button>

    <button type="button" class="btnSt"><a th:href="@{'/listOfClassForStudents/' + ${student.id}}" style="color: black">Klasa</a></button>

</div>
<div class="tabelka">
    <table class="table">
        <th class="firstTh">Imie</th>
        <th class="firstTh">Nazwisko</th>
        <th class="firstTh">Data urodzenia</th>
        <th class="firstTh">Płeć</th>
        <!--        <th class="firstTh">Pochodzenie</th>-->
        <!--        <th class="firstTh">Język</th>-->
        <!--            <th class="firstTh">Klasa</th>-->
        <tr class="firstTr">
            <td class="firstTd" th:text="${student.firstName}"/>
            <td class="firstTd" th:text="${student.lastName}"/>
            <td class="firstTd" th:text="${student.dateOfBirth}"/>
            <td class="firstTd" th:text="${student.sex}"/>
        </tr>
    </table>
</div>
<!--<h2 style="text-align: center">Liczba zdobytych punktów podczas rekrutacji</h2>-->
<!--<div class="tabelka">-->
<!--    <table class="table">-->
<!--        <th class="firstTh">Punkty</th>-->
<!--        <th class="firstTh">Policz</th>-->
<!--        <tr>-->
<!--            <td class="firstTd" th:text="${student.points}"/>-->
<!--            <td class="firstTd">-->
<!--                <button class="btnSt">-->
<!--                    <a th:href="@{'/countPoints/' + ${student.id}}" style="color: black">Policz punkty</a>-->
<!--                </button>-->
<!--                &lt;!&ndash;                <button class="btnSt">&ndash;&gt;-->
<!--                &lt;!&ndash;                    <a th:href="@{'/aboutStudent/' + ${student.id}}" style="color: black">Wybierz</a>&ndash;&gt;-->
<!--                &lt;!&ndash;                </button>&ndash;&gt;-->
<!--            </td>-->
<!--        </tr>-->
<!--    </table>-->
<!--</div>-->
<h2 style="text-align: center">Średnia ocen ze świadectwa</h2>
<div class="tabelka">
    <table class="table">
        <th class="firstTh">Średnia ocen</th>
        <th class="firstTh">Wartość</th>
        <tr>
            <td class="firstTd">Średnia</td>
            <td class="firstTd" th:text="${student.grades.averageOfGrades}"/>
        </tr>
    </table>
</div>

<h2 style="text-align: center">Rezultaty</h2>

<div class="tabelka">
    <table class="table">
        <th class="firstTh">Przedmiot</th>
        <th class="firstTh">Ocena</th>
        <th class="firstTh">Egzamin</th>
        <th class="firstTh">Olimpiada</th>
        <tr class="firstTr">
            <td class="firstTd">Języki polski</td>
            <td class="firstTd" th:text="${student.grades.polishGrade}"/>
            <td class="firstTd" th:text="${student.exams.languagePolishResult}"/>
            <td class="firstTd" th:text="${student.olympiads.polishOlympiad}"></td>
        </tr>
        <tr class="firstTr">
            <td class="firstTd">Matematyka</td>
            <td class="firstTd" th:text="${student.grades.mathGrade}"/>
            <td class="firstTd" th:text="${student.exams.math}"/>
            <td class="firstTd" th:text="${student.olympiads.mathOlympiad}"></td>
        </tr>
        <tr class="firstTr">
            <td class="firstTd">Języki angielski</td>
            <td class="firstTd" th:text="${student.grades.englishGrade}"/>
            <td class="firstTd" th:text="${student.exams.foreignLanguage}"/>
            <td class="firstTd" th:text="${student.olympiads.englishOlympiad}"></td>
        </tr>
        <tr class="firstTr">
            <td class="firstTd">Język niemiecki</td>
            <td class="firstTd" th:text="${student.grades.otherLanguageGrade}"/>
            <td class="firstTd">Brak danych</td>
            <td class="firstTd" th:text="${student.olympiads.germanOlympiad}"></td>
        </tr>
        <tr class="firstTr">
            <td class="firstTd">Język francuski</td>
            <td class="firstTd">Brak danych</td>
            <td class="firstTd">Brak danych</td>
            <td class="firstTd" th:text="${student.olympiads.frenchOlympiad}"/>
        </tr>
        <tr class="firstTr">
            <td class="firstTd">Język hiszpański</td>
            <td class="firstTd">Brak danych</td>
            <td class="firstTd">Brak danych</td>
            <td class="firstTd" th:text="${student.olympiads.spanishOlympiad}"/>
        </tr>
        <tr class="firstTr">
            <td class="firstTd">Język włoski</td>
            <td class="firstTd">Brak danych</td>
            <td class="firstTd">Brak danych</td>
            <td class="firstTd" th:text="${student.olympiads.italianOlympiad}"/>
        </tr>
        <tr class="firstTr">
            <td class="firstTd">Wiedza o społeczeństwie</td>
            <td class="firstTd" th:text="${student.grades.civicsGrade}"/>
            <td class="firstTd">Brak danych</td>
            <td class="firstTd" th:text="${student.olympiads.civicsOlympiad}"></td>
        </tr>
        <tr class="firstTr">
            <td class="firstTd">Historia</td>
            <td class="firstTd" th:text="${student.grades.historyGrade}"/>
            <td class="firstTd">Brak danych</td>
            <td class="firstTd" th:text="${student.olympiads.historyOlympiad}"></td>
        </tr>
        <tr class="firstTr">
            <td class="firstTd">Fizyka</td>
            <td class="firstTd" th:text="${student.grades.physicsGrade}"/>
            <td class="firstTd">Brak danych</td>
            <td class="firstTd" th:text="${student.olympiads.physicsOlympiad}"></td>
        </tr>
        <tr class="firstTr">
            <td class="firstTd">Chemia</td>
            <td class="firstTd" th:text="${student.grades.chemistryGrade}"/>
            <td class="firstTd">Brak danych</td>
            <td class="firstTd" th:text="${student.olympiads.chemistryOlympiad}"></td>
        </tr>
        <tr class="firstTr">
            <td class="firstTd">Biologia</td>
            <td class="firstTd" th:text="${student.grades.biologyGrade}"/>
            <td class="firstTd">Brak danych</td>
            <td class="firstTd" th:text="${student.olympiads.biologyOlympiad}"></td>
        </tr>
        <tr class="firstTr">
            <td class="firstTd">Geogafia</td>
            <td class="firstTd" th:text="${student.grades.geographyGrade}"/>
            <td class="firstTd">Brak danych</td>
            <td class="firstTd" th:text="${student.olympiads.geographyOlympiad}"></td>
        </tr>
        <tr class="firstTr">
            <td class="firstTd">Informatyka</td>
            <td class="firstTd" th:text="${student.grades.ITGrade}"/>
            <td class="firstTd">Brak danych</td>
            <td class="firstTd" th:text="${student.olympiads.ITOlympiad}"></td>
        </tr>
        <tr class="firstTr">
            <td class="firstTd">Historia muzyki</td>
            <td class="firstTd">Brak danych</td>
            <td class="firstTd">Brak danych</td>
            <td class="firstTd" th:text="${student.olympiads.historyOfMusicOlympiad}"/>
        </tr>
        <tr class="firstTr">
            <td class="firstTd">Historia sztuki</td>
            <td class="firstTd">Brak danych</td>
            <td class="firstTd">Brak danych</td>
            <td class="firstTd" th:text="${student.olympiads.historyOfArtOlympiad}"/>
        </tr>
        <tr class="firstTr">
            <td class="firstTd">Technika</td>
            <td class="firstTd" th:text="${student.grades.designAndTechnology}"/>
            <td class="firstTd">Brak danych</td>
            <td class="firstTd">Brak danych</td>
        </tr>
        <tr class="firstTr">
            <td class="firstTd">Wychowanie fizyczne</td>
            <td class="firstTd" th:text="${student.grades.physicalEducationGrade}"/>
            <td class="firstTd">Brak danych</td>
            <td class="firstTd">Brak danych</td>
        </tr>
    </table>
</div>

<h2 style="text-align: center">Umiejętności</h2>
<div class="tabelka">
    <table class="table">
        <th class="firstTh">Umiejętność</th>
        <th class="firstTh">Wartość</th>
        <tr class="firstTr">
            <td class="firstTd">Umiejętność szybkiego liczenia</td>
            <td class="firstTd" th:text="${student.extraParameters.fastCounting}"></td>
        </tr>
        <tr class="firstTr">
            <td class="firstTd">Umiejętność szybkiego czytania</td>
            <td class="firstTd" th:text="${student.extraParameters.fastReading}"/>
        </tr>
        <tr class="firstTr">
            <td class="firstTd">Umiejętność rozwiązywania problemów</td>
            <td class="firstTd" th:text="${student.extraParameters.troubleshooting}"/>
        </tr>
        <tr class="firstTr">
            <td class="firstTd">Umiejętność szybkiego zapamiętywania</td>
            <td class="firstTd" th:text="${student.extraParameters.quickMemorization}"/>
        </tr>
        <tr class="firstTr">
            <td class="firstTd">Umiejętności aktorskie</td>
            <td class="firstTd" th:text="${student.extraParameters.actingSkills}"/>
        </tr>
        <tr class="firstTr">
            <td class="firstTd">Umiejętności wokalne</td>
            <td class="firstTd" th:text="${student.extraParameters.vocalSkills}"/>
        </tr>
        <tr class="firstTr">
            <td class="firstTd">Umiejętności taneczne</td>
            <td class="firstTd" th:text="${student.extraParameters.danceSkills}"/>
        </tr>
        <tr class="firstTr">
            <td class="firstTd">Umiejętności pisarskie</td>
            <td class="firstTd" th:text="${student.extraParameters.writingSkills}"/>
        </tr>
        <tr class="firstTr">
            <td class="firstTd">Umiejętności fotograficzne</td>
            <td class="firstTd" th:text="${student.extraParameters.photographicSkills}"/>
        </tr>
        <tr class="firstTr">
            <td class="firstTd">Zdolności lingwistyczne</td>
            <td class="firstTd" th:text="${student.extraParameters.linguisticSkills}"/>
        </tr>
        <tr class="firstTr">
            <td class="firstTd">Posiadanie certyfikatu językowego</td>
            <td class="firstTd" th:text="${student.extraParameters.languageCertificate}"/>
        </tr>
        <tr class="firstTr">
            <td class="firstTd">Zainteresowanie polityką</td>
            <td class="firstTd" th:text="${student.extraParameters.interestInPolitics}"/>
        </tr>
        <tr class="firstTr">
            <td class="firstTd">Umiejętności komunikacyjne</td>
            <td class="firstTd" th:text="${student.extraParameters.communicationSkills}"/>
        </tr>
        <tr class="firstTr">
            <td class="firstTd">Umiejętności sportowe/predyspozycje sportowe</td>
            <td class="firstTd" th:text="${student.extraParameters.sportSkills}"/>
        </tr>
        <tr class="firstTr">
            <td class="firstTd">Wyczynowe uprawianie sportu</td>
            <td class="firstTd" th:text="${student.extraParameters.extremeSport}"/>
        </tr>
        <tr class="firstTr">
            <td class="firstTd">Sprawność fizyczna</td>
            <td class="firstTd" th:text="${student.extraParameters.physicalFitness}"/>
        </tr>
        <tr class="firstTr">
            <td class="firstTd">Wytrzymałość fizyczna</td>
            <td class="firstTd" th:text="${student.extraParameters.physicalEndurance}"/>
        </tr>
        <tr class="firstTr">
            <td class="firstTd">Umiejętność pracy na otwartym terenie</td>
            <td class="firstTd" th:text="${student.extraParameters.workInTheOpenGround}"/>
        </tr>
        <tr class="firstTr">
            <td class="firstTd">Umiejętność posługiwania się mapą</td>
            <td class="firstTd" th:text="${student.extraParameters.abilityToUseAMap}"/>
        </tr>
        <tr class="firstTr">
            <td class="firstTd">Dobra znajomość tablicy Mendelejewa</td>
            <td class="firstTd" th:text="${student.extraParameters.periodicTable}"/>
        </tr>
        <tr class="firstTr">
            <td class="firstTd">Tworzenie własnych doświadczeń chemicznych</td>
            <td class="firstTd" th:text="${student.extraParameters.chemicalExperiments}"/>
        </tr>
        <tr class="firstTr">
            <td class="firstTd">Zainteresowania biologiczno-przyrodnicze</td>
            <td class="firstTd" th:text="${student.extraParameters.biologicalAndNaturalInterests}"/>
        </tr>
        <tr class="firstTr">
            <td class="firstTd">Zainteresowanie technologią</td>
            <td class="firstTd" th:text="${student.extraParameters.interestInTechnology}"/>
        </tr>
    </table>
</div>

<div>
    <button class="btnSt" type="button" style="display: block; margin: auto; margin-bottom: 20px">
        <a th:href="@{'/showStudents'}" style="color: black">
            Lista uczniów</a>
    </button>
</div>


</body>
</html>