<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/style.css}"/>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
            crossorigin="anonymous"></script>

    <title>Zmiana klasy</title>
</head>
<body>
<h1>Punktacja ucznia</h1>

<h2 style="text-align: center">Liczba zdobytych punktów podczas rekrutacji w ramach każdego profilu klasy</h2>
<div class="containerButtons">
    <button class="btnSt" type="button" style="margin-top: 30px">
        <a th:href="@{'/aboutStudent/' + ${student.id}}" style="color: black">Wróć do obecnego ucznia</a>
    </button>
</div>
<div class="tabelka">
    <table class="table">
        <th class="firstTh">Klasa</th>
        <th class="firstTh">Symbol</th>
        <th class="firstTh">Punkty</th>
        <th class="firstTh">Punkty olimpijskie</th>

        <!--            <th class="firstTh">Klasa</th>-->
        <!--Spróbować zrobić listę punktów. Napisać cały algorytm w jednej funkcji.-->
        <tr th:each="klasa: ${allClass}" class="firstTr">
            <td class="firstTd" th:text="${klasa.nameOfClass}"/>
            <td class="firstTd" th:text="${klasa.symbol}"/>
            <td class="firstTd">
                <p th:text="${student.pointsMatGeoInf}"/>
                <p th:text="${student.pointsHuman}"/>
                <p th:text="${student.pointsBiolChem}"/>
                <p th:text="${student.pointsMAN}"/>
                <p th:text="${student.pointsS}"/>
                <p th:text="${student.pointsArt}"/>
                <p th:text="${student.pointsFIZ}"/>
            </td>
            <td class="firstTd">
                <p th:text="${student.punktyOlimpijskieMatGeoInf}"/>
                <p th:text="${student.punktyOlimpijskieHuman}"/>
                <p th:text="${student.punktyOlimpijskieBiolChem}"/>
                <p th:text="${student.punktyOlimpijskieMatAngNiem}"/>
                <p th:text="${student.punktyOlimpijskieSportowa}"/>
                <p th:text="${student.punktyOlimpijskieArtystyczna}"/>
                <p th:text="${student.punktyOlimpijskieFizChemFranc}"/>
            </td>
<!--            <td class="firstTd" th:text="${student.pointsMatGeoInf}"/>-->
<!--            <td class="firstTd" th:text="${student.pointsHuman}"/>-->
<!--            <td class="firstTd" th:text="${student.pointsBiolChemAng}"/>-->
        </tr>
        <tr>
            <td class="firstTd"></td>
            <td class="firstTd"></td>
            <td class="firstTd"></td>
            <td class="firstTd">
                <button class="btnSt">
                    <a th:href="@{'/allCountPoints/' + ${student.id}}" style="color: black">Policz punkty</a>
                </button>
            </td>
        </tr>

<!--        <tr>-->
<!--            <td class="firstTd"></td>-->
<!--            <td class="firstTd"></td>-->
<!--            <td class="firstTd"></td>-->
<!--            <td class="firstTd">-->
<!--                <button class="btnSt">-->
<!--                    <a th:href="@{'/allCountPoints/' + ${student.id}}" style="color: black">Policz punkty</a>-->
<!--                </button>-->
<!--            </td>-->
<!--        </tr>-->
    </table>
</div>

<!--<div class="tabelka">-->
<!--    <table class="table">-->
<!--        <th class="firstTh">Klasa</th>-->
<!--        <th class="firstTh">Punkty</th>-->
<!--        <th class="firstTh">Punkty olimpijskie</th>-->

<!--        &lt;!&ndash;            <th class="firstTh">Klasa</th>&ndash;&gt;-->
<!--        &lt;!&ndash;Spróbować zrobić listę punktów. Napisać cały algorytm w jednej funkcji.&ndash;&gt;-->
<!--        <tr class="firstTr">-->
<!--            <td class="firstTd">Klasa MatGeoInf</td>-->
<!--            <td th:text="${student.pointsMatGeoInf}" class="firstTd"/>-->
<!--            <td th:text="${student.punktyOlimpijskieMatGeoInf}" class="firstTd"/>-->
<!--        </tr>-->
<!--        <tr class="firstTr">-->
<!--            <td class="firstTd">Klasa Humanistyczna</td>-->
<!--            <td th:text="${student.pointsHuman}" class="firstTd"/>-->
<!--            <td th:text="${student.punktyOlimpijskieHuman}" class="firstTd"/>-->
<!--        </tr>-->
<!--        <tr class="firstTr">-->
<!--            <td class="firstTd">Klasa BiolChem</td>-->
<!--            <td th:text="${student.pointsBiolChem}" class="firstTd"/>-->
<!--            <td th:text="${student.punktyOlimpijskieBiolChem}" class="firstTd"/>-->
<!--        </tr>-->
<!--        <tr class="firstTr">-->
<!--            <td class="firstTd">Klasa MatAngNiem</td>-->
<!--            <td th:text="${student.pointsMAN}" class="firstTd"/>-->
<!--            <td th:text="${student.punktyOlimpijskieMatAngNiem}" class="firstTd"/>-->
<!--        </tr>-->
<!--        <tr class="firstTr">-->
<!--            <td class="firstTd">Klasa Sportowa</td>-->
<!--            <td th:text="${student.pointsS}" class="firstTd"/>-->
<!--            <td th:text="${student.punktyOlimpijskieSportowa}" class="firstTd"/>-->
<!--        </tr>-->
<!--        <tr class="firstTr">-->
<!--            <td class="firstTd">Klasa Artystyczna</td>-->
<!--            <td th:text="${student.pointsArt}" class="firstTd"/>-->
<!--            <td th:text="${student.punktyOlimpijskieArtystyczna}" class="firstTd"/>-->
<!--        </tr>-->
<!--        <tr class="firstTr">-->
<!--            <td class="firstTd">Klasa FizChemFranc</td>-->
<!--            <td th:text="${student.pointsFIZ}" class="firstTd"/>-->
<!--            <td th:text="${student.punktyOlimpijskieFizChemFranc}" class="firstTd"/>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td class="firstTd"></td>-->
<!--            <td class="firstTd"></td>-->
<!--            <td class="firstTd">-->
<!--                <button class="btnSt">-->
<!--                    <a th:href="@{'/allCountPoints/' + ${student.id}}" style="color: black">Policz punkty</a>-->
<!--                </button>-->
<!--            </td>-->
<!--        </tr>-->
<!--    </table>-->
<!--</div>-->


</body>
</html>