<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nowy student</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <!--    <link rel="stylesheet" href="style.css">-->
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
            crossorigin="anonymous"></script>

</head>
<body>
<div class="container-fluid" id="tytul">
    <header>
        <h1>Dodawanie ucznia</h1>
    </header>
</div>

<div class="container">
    <div class="row">
        <div class="row" style="display: block;margin: auto; margin-top: 25px">
            <div>
                <a class="btn-mybutton" style="color: black" data-toggle="collapse" href="#dateOfStudent" role="button">Informacje o
                    uczniu</a>
                <a class="btn-mybutton" style="color: black" data-toggle="collapse" href="#result" role="button">Egzaminy</a>
                <a class="btn-mybutton" style="color: black" data-toggle="collapse" href="#grades" role="button">Oceny</a>
                <a class="btn-mybutton" style="color: black" data-toggle="collapse" href="#olympiad" role="button">Olimpiady</a>
                <a class="btn-mybutton" style="color: black" data-toggle="collapse" href="#other" role="button">Dodatkowe parametry</a>
                <form th:action="@{/student/student}" method="post">
                    <input name="_method" type="hidden" value="post"/>
                    <input type="hidden" name="id">
                    <div class="collapse show" id="dateOfStudent">
                        <h3 style="text-align: center; margin-top: 25px">Dane o studencie</h3>
                        <div class="card card-body">
                            <table class="table">
                                <tr>
                                    <th>Imie:</th>
                                    <td>
                                        <input type="text" pattern="[A-Za-ząćęłńóśźżĄĆĘŁŃÓŚŹŻ]{1,32}"
                                               name="firstName" required>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Nazwisko:</th>
                                    <td>
                                        <input type="text"
                                               pattern="[A-Za-ząćęłńóśźżĄĆĘŁŃÓŚŹŻ]{1,32}" name="lastName" required

                                               oninvalid="InvalidSurname(this);"
                                               oninput="InvalidSurname(this);"/>

                                        <script> function InvalidSurname(textbox) {

                                            if (textbox.validity.patternMismatch) {
                                                textbox.setCustomValidity('Enter valid surname');
                                            } else if (textbox.validity.valueMissing) {
                                                textbox.setCustomValidity('This field cannot be empty ');
                                            } else {
                                                textbox.setCustomValidity('');
                                            }
                                            return true;
                                        }</script>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Data urodzenia:</th>
                                    <td>
                                        <input id="dateofbirth" type="date"
                                               pattern="(0[1-9]|1[0-9]|2[0-9]|3[01]).(0[1-9]|1[012]).[0-9]{4}"
                                               name="dateOfBirth" min='1899-01-01'
                                               max='2000-13-13' required

                                               oninvalid="InvalidDate(this);"
                                               oninput="InvalidDate(this);"/>
                                        <script>
                                            let today = new Date();
                                            let dd = today.getDate();
                                            let mm = today.getMonth() + 1; //January is 0!
                                            let yyyy = today.getFullYear();

                                            if (dd < 10) {
                                                dd = '0' + dd;
                                            }

                                            if (mm < 10) {
                                                mm = '0' + mm;
                                            }

                                            today = yyyy + '-' + mm + '-' + dd;
                                            document.getElementById("dateofbirth").setAttribute("max", today);
                                        </script>

                                        <script> function InvalidDate(numberbox) {
                                            if (numberbox.validity.patternMismatch) {
                                                numberbox.setCustomValidity('Enter valid date');
                                            } else if (numberbox.validity.valueMissing) {
                                                numberbox.setCustomValidity('This field cannot be empty ');
                                            } else {
                                                numberbox.setCustomValidity('');
                                            }
                                            return true;
                                        }</script>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Płeć:</th>
                                    <td>
                                        <select name="sex" required>
                                            <option value="">Wybierz</option>
                                            <option th:each="sexOpt : ${T(com.example.aplikacja.student.enums.Sex).values()}"
                                                    th:text="${sexOpt.label}" th:value="${sexOpt}"></option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Czy uczeń jest cudzoziemcem ?</th>
                                    <td>
                                        <select name="align" required>
                                            <option value="">Wybierz</option>
                                            <option th:each="alignOpt : ${T(com.example.aplikacja.student.enums.Align).values()}"
                                                    th:text="${alignOpt.label}"
                                                    th:value="${alignOpt}"></option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Czy porozumiewa się w języku polskim ?</th>
                                    <td>
                                        <select name="languagePolish" required>
                                            <option value="">Wybierz</option>
                                            <option th:each="languageOpt : ${T(com.example.aplikacja.student.enums.LanguagePolish).values()}"
                                                    th:text="${languageOpt.label}"
                                                    th:value="${languageOpt}"></option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Kontakt:</th>
                                    <td>
                                        <input type="email"
                                               pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" name="email"
                                               required

                                               oninvalid="InvalidEmail(this);"
                                               oninput="InvalidEmail(this);"/>

                                        <script> function InvalidEmail(textbox) {

                                            if (textbox.validity.patternMismatch) {
                                                textbox.setCustomValidity('Enter valid email');
                                            } else if (textbox.validity.valueMissing) {
                                                textbox.setCustomValidity('This field cannot be empty ');
                                            } else {
                                                textbox.setCustomValidity('');
                                            }
                                            return true;
                                        }</script>
                                    </td>
                                </tr>
                                <!--                                <th>Matematyka:</th>-->
                                <!--                                <td>-->
                                <!--                                    <input type="text" name="math"-->
                                <!--                                           pattern="[1-9]{1}[0-9]*[0]*([.]{1}[0-9]{1}[0-9]{1})*">-->
                                <!--                                    <label class="percent">%</label>-->
                                <!--                                </td>-->
                                <!--                                </tr>-->
                            </table>
                        </div>
                    </div>
                    <div class="collapse" id="result">
                        <h3 style="text-align: center; margin-top: 20px">Wyniki z egzmainów</h3>
                        <div class="card card-body">
                            <table class="table">
                                <tr>
                                    <th>Język polski:</th>
                                    <td>
                                        <input type="text" name="languagePolishResult"
                                               pattern="[1-9]{1}[0-9]*[0]*([.]{1}[0-9]{1}[0-9]{1})*">
                                        <label class="percent">%</label>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Matematyka:</th>
                                    <td>
                                        <input type="text" name="math"
                                               pattern="[1-9]{1}[0-9]*[0]*([.]{1}[0-9]{1}[0-9]{1})*">
                                        <label class="percent">%</label>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Język obcy nowożytny:</th>
                                    <td>
                                        <input type="text" name="foreignLanguage"
                                               pattern="[1-9]{1}[0-9]*[0]*([.]{1}[0-9]{1}[0-9]{1})*">
                                        <label class="percent">%</label>
                                    </td>
                                </tr>

                            </table>
                        </div>
                    </div>
                    <div class="collapse" id="grades">
                        <h3 style="text-align: center; margin-top: 20px">Oceny ze świadectwa</h3>
                        <div class="card card-body">
                            <table class="table">
                                <tr>
                                    <th>Średnia ocen ze świadectwa:</th>
                                    <td><input type="text" name="averageOfGrades" pattern="[1-6]{1}[,]{1}[0-99]{2}">
                                    </td>
                                </tr>
                                <tr>
                                    <th>Język polski:</th>
                                    <td><input class="text" name="polishGrade" pattern="[1-6]{1}[.]{1}[0|5]{1}"></td>
                                </tr>
                                <tr>
                                    <th>Matematyka:</th>
                                    <td><input class="text" name="mathGrade" pattern="[1-6]{1}[.]{1}[0|5]{1}"></td>
                                </tr>
                                <tr>
                                    <th>Język angielski:</th>
                                    <td><input class="text" name="englishGrade" pattern="[1-6]{1}[.]{1}[0|5]{1}"></td>
                                </tr>
                                <tr>
                                    <th>Drugi język obcy:</th>
                                    <td><input class="text" name="otherLanguageGrade" pattern="[1-6]{1}[.]{1}[0|5]{1}">
                                    </td>
                                </tr>
                                <tr>
                                    <th>Wiedza o społeczeństwie:</th>
                                    <td><input class="text" name="civicsGrade" pattern="[1-6]{1}[.]{1}[0|5]{1}"></td>
                                </tr>
                                <tr>
                                    <th>Historia:</th>
                                    <td><input class="text" name="historyGrade" pattern="[1-6]{1}[.]{1}[0|5]{1}">
                                    </td>
                                </tr>
                                <tr>
                                    <th>Fizyka:</th>
                                    <td><input class="text" name="physicsGrade" pattern="[1-6]{1}[.]{1}[0|5]{1}"></td>
                                </tr>
                                <tr>
                                    <th>Chemia:</th>
                                    <td><input class="text" name="chemistryGrade" pattern="[1-6]{1}[.]{1}[0|5]{1}"></td>
                                </tr>
                                <tr>
                                    <th>Biologia:</th>
                                    <td><input class="text" name="biologyGrade" pattern="[1-6]{1}[.]{1}[0|5]{1}"></td>
                                </tr>
                                <tr>
                                    <th>Geografia:</th>
                                    <td><input class="text" name="geographyGrade" pattern="[1-6]{1}[.]{1}[0|5]{1}"></td>
                                </tr>
                                <tr>
                                    <th>Informatyka:</th>
                                    <td><input class="text" name="ITGrade" pattern="[1-6]{1}[.]{1}[0|5]{1}"></td>
                                </tr>
                                <tr>
                                    <th>Technika:</th>
                                    <td><input class="text" name="designAndTechnology" pattern="[1-6]{1}[.]{1}[0|5]{1}"></td>
                                </tr>
                                <tr>
                                    <th>Muzyka:</th>
                                    <td><input class="text" name="music" pattern="[1-6]{1}[.]{1}[0|5]{1}"></td>
                                </tr>
                                <tr>
                                    <th>Plastyka:</th>
                                    <td><input class="text" name="art" pattern="[1-6]{1}[.]{1}[0|5]{1}"></td>
                                </tr>
                                <tr>
                                    <th>Wychowanie fizyczne:</th>
                                    <td><input class="text" name="physicalEducationGrade"
                                               pattern="[1-6]{1}[.]{1}[0|5]{1}">
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="collapse" id="olympiad">
                        <h3 style="text-align: center; margin-top: 20px">Olimpiady</h3>
                        <div class="card card-body">
                            <table class="table">
                                <th style="text-align: center">Olimpiady</th>
                                <th></th>
                                <tr>
                                    <th>Język polski</th>
                                    <td>
                                        <input type="radio" name="polishOlympiad" id="polishRadioL" class="radio"
                                               th:each="olympOpt : ${T(com.example.aplikacja.student.enums.LaureateOrFinalist).values()}"
                                               th:text="${olympOpt.label}" th:value="${olympOpt}">
                                    </td>
                                    <!--                                    <td>-->
                                    <!--                                        <input type="radio" name="polishOlympiad" id="polishRadioF">-->
                                    <!--                                    </td>-->
                                    <!--                                    <td>-->
                                    <!--                                        <input type="radio" checked name="polishOlympiad" id="polishRadioB">-->
                                    <!--                                    </td>-->
                                </tr>
                                <tr>
                                    <th>Matematyka</th>
                                    <td>
                                        <input type="radio" name="mathOlympiad" id="mathRadioL" class="radio"
                                               th:each="olympOpt : ${T(com.example.aplikacja.student.enums.LaureateOrFinalist).values()}"
                                               th:text="${olympOpt.label}" th:value="${olympOpt}">
                                    </td>
                                    <!--                                    <td>-->
                                    <!--                                        <input type="radio" name="mathOlympiad" id="mathRadioF">-->
                                    <!--                                    </td>-->
                                    <!--                                    <td>-->
                                    <!--                                        <input type="radio" checked name="mathOlympiad" id="mathRadioB">-->
                                    <!--                                    </td>-->
                                </tr>
                                <tr>
                                    <th>Język angielski</th>
                                    <td>
                                        <input type="radio" name="englishOlympiad" id="englishRadioL" class="radio"
                                               th:each="olympOpt : ${T(com.example.aplikacja.student.enums.LaureateOrFinalist).values()}"
                                               th:text="${olympOpt.label}" th:value="${olympOpt}">
                                    </td>
                                    <!--                                    <td>-->
                                    <!--                                        <input type="radio" name="englishOlympiad" id="englishRadioF">-->
                                    <!--                                    </td>-->
                                    <!--                                    <td>-->
                                    <!--                                        <input type="radio" checked name="englishOlympiad" id="englishRadioB">-->
                                    <!--                                    </td>-->
                                </tr>
                                <tr>
                                    <th>Język niemiecki</th>
                                    <td>
                                        <input type="radio" name="germanOlympiad" id="deutschRadioL" class="radio"
                                               th:each="olympOpt : ${T(com.example.aplikacja.student.enums.LaureateOrFinalist).values()}"
                                               th:text="${olympOpt.label}" th:value="${olympOpt}">
                                    </td>
                                    <!--                                    <td>-->
                                    <!--                                        <input type="radio" name="germanOlympiad" id="deutschRadioF">-->
                                    <!--                                    </td>-->
                                    <!--                                    <td>-->
                                    <!--                                        <input type="radio" checked name="germanOlympiad" id="deutschRadioB">-->
                                    <!--                                    </td>-->
                                </tr>
                                <tr>
                                    <th>Język francuski</th>
                                    <td>
                                        <input type="radio" name="frenchOlympiad" id="frenchRadioL" class="radio"
                                               th:each="olympOpt : ${T(com.example.aplikacja.student.enums.LaureateOrFinalist).values()}"
                                               th:text="${olympOpt.label}" th:value="${olympOpt}">
                                    </td>
                                    <!--                                    <td>-->
                                    <!--                                        <input type="radio" name="frenchOlympiad" id="frenchRadioF">-->
                                    <!--                                    </td>-->
                                    <!--                                    <td>-->
                                    <!--                                        <input type="radio" checked name="frenchOlympiad" id="frenchRadioB">-->
                                    <!--                                    </td>-->
                                </tr>
                                <tr>
                                    <th>Język hiszpański</th>
                                    <td>
                                        <input type="radio" name="spanishOlympiad" id="spanishRadioL" class="radio"
                                               th:each="olympOpt : ${T(com.example.aplikacja.student.enums.LaureateOrFinalist).values()}"
                                               th:text="${olympOpt.label}" th:value="${olympOpt}">
                                    </td>
                                    <!--                                    <td>-->
                                    <!--                                        <input type="radio" name="spanishOlympiad" id="spanishRadioF">-->
                                    <!--                                    </td>-->
                                    <!--                                    <td>-->
                                    <!--                                        <input type="radio" checked name="spanishOlympiad" id="spanishRadioB">-->
                                    <!--                                    </td>-->
                                </tr>
                                <tr>
                                    <th>Język włoski</th>
                                    <td>
                                        <input type="radio" name="italianOlympiad" id="italianRadioL" class="radio"
                                               th:each="olympOpt : ${T(com.example.aplikacja.student.enums.LaureateOrFinalist).values()}"
                                               th:text="${olympOpt.label}" th:value="${olympOpt}">
                                    </td>
                                    <!--                                    <td>-->
                                    <!--                                        <input type="radio" name="italianOlympiad" id="italianRadioF">-->
                                    <!--                                    </td>-->
                                    <!--                                    <td>-->
                                    <!--                                        <input type="radio" checked name="italianOlympiad" id="italianRadioB">-->
                                    <!--                                    </td>-->
                                </tr>
                                <tr>
                                    <th>Historia</th>
                                    <td>
                                        <input type="radio" name="historyOlympiad" id="historyRadioL" class="radio"
                                               th:each="olympOpt : ${T(com.example.aplikacja.student.enums.LaureateOrFinalist).values()}"
                                               th:text="${olympOpt.label}" th:value="${olympOpt}">
                                    </td>
                                    <!--                                    <td>-->
                                    <!--                                        <input type="radio" name="historyOlympiad" id="historyRadioF">-->
                                    <!--                                    </td>-->
                                    <!--                                    <td>-->
                                    <!--                                        <input type="radio" checked name="historyOlympiad" id="historyRadioB">-->
                                    <!--                                    </td>-->
                                </tr>
                                <tr>
                                    <th>Wiedza o społeczeństwie</th>
                                    <td>
                                        <input type="radio" name="civicsOlympiad" id="wosRadioL" class="radio"
                                               th:each="olympOpt : ${T(com.example.aplikacja.student.enums.LaureateOrFinalist).values()}"
                                               th:text="${olympOpt.label}" th:value="${olympOpt}">
                                    </td>
                                    <!--                                    <td>-->
                                    <!--                                        <input type="radio" name="civicsOlympiad" id="wosRadioF">-->
                                    <!--                                    </td>-->
                                    <!--                                    <td>-->
                                    <!--                                        <input type="radio" checked name="civicsOlympiad" id="wosRadioB">-->
                                    <!--                                    </td>-->
                                </tr>
                                <tr>
                                    <th>Biologia</th>
                                    <td>
                                        <input type="radio" name="biologyOlympiad" id="biologyRadioL" class="radio"
                                               th:each="olympOpt : ${T(com.example.aplikacja.student.enums.LaureateOrFinalist).values()}"
                                               th:text="${olympOpt.label}" th:value="${olympOpt}">
                                    </td>
                                    <!--                                    <td>-->
                                    <!--                                        <input type="radio" name="biologyOlympiad" id="biologyRadioF">-->
                                    <!--                                    </td>-->
                                    <!--                                    <td>-->
                                    <!--                                        <input type="radio" checked name="biologyOlympiad" id="biologyRadioB">-->
                                    <!--                                    </td>-->
                                </tr>
                                <tr>
                                    <th>Chemia</th>
                                    <td>
                                        <input type="radio" name="chemistryOlympiad" id="chemistryRadioL" class="radio"
                                               th:each="olympOpt : ${T(com.example.aplikacja.student.enums.LaureateOrFinalist).values()}"
                                               th:text="${olympOpt.label}" th:value="${olympOpt}">
                                    </td>
                                    <!--                                    <td>-->
                                    <!--                                        <input type="radio" name="chemistryOlympiad" id=chemistryRadioF>-->
                                    <!--                                    </td>-->
                                    <!--                                    <td>-->
                                    <!--                                        <input type="radio" checked name="chemistryOlympiad" id=chemistryRadioB>-->
                                    <!--                                    </td>-->
                                </tr>
                                <tr>
                                    <th>Fizyka</th>
                                    <td>
                                        <input type="radio" name="physicsOlympiad" id="physicsRadioL" class="radio"
                                               th:each="olympOpt : ${T(com.example.aplikacja.student.enums.LaureateOrFinalist).values()}"
                                               th:text="${olympOpt.label}" th:value="${olympOpt}">
                                    </td>
                                    <!--                                    <td>-->
                                    <!--                                        <input type="radio" name="physicsOlympiad" id=physicsRadioF>-->
                                    <!--                                    </td>-->
                                    <!--                                    <td>-->
                                    <!--                                        <input type="radio" checked name="physicsOlympiad" id=physicsRadioB>-->
                                    <!--                                    </td>-->
                                </tr>
                                <tr>
                                    <th>Geografia</th>
                                    <td>
                                        <input type="radio" name="geographyOlympiad" id="geographyRadioL" class="radio"
                                               th:each="olympOpt : ${T(com.example.aplikacja.student.enums.LaureateOrFinalist).values()}"
                                               th:text="${olympOpt.label}" th:value="${olympOpt}">
                                    </td>
                                    <!--                                    <td>-->
                                    <!--                                        <input type="radio" name="geographyOlympiad" id=geographyRadioF>-->
                                    <!--                                    </td>-->
                                    <!--                                    <td>-->
                                    <!--                                        <input type="radio" checked name="geographyOlympiad" id=geographyRadioB>-->
                                    <!--                                    </td>-->
                                </tr>
                                <tr>
                                    <th>Historia muzyki</th>
                                    <td>
                                        <input type="radio" name="historyOfMusicOlympiad" id="historyOfMusicRadioL"
                                               class="radio"
                                               th:each="olympOpt : ${T(com.example.aplikacja.student.enums.LaureateOrFinalist).values()}"
                                               th:text="${olympOpt.label}" th:value="${olympOpt}">
                                    </td>
                                    <!--                                    <td>-->
                                    <!--                                        <input type="radio" name="historyOfMusicOlympiad" id=historyOfMusicRadioF>-->
                                    <!--                                    </td>-->
                                    <!--                                    <td>-->
                                    <!--                                        <input type="radio" checked name="historyOfMusicOlympiad"-->
                                    <!--                                               id=historyOfMusicRadioB>-->
                                    <!--                                    </td>-->
                                </tr>
                                <tr>
                                    <th>Historia sztuki</th>
                                    <td>
                                        <input type="radio" name="historyOfArtOlympiad" id="historyOfArtRadioL"
                                               class="radio"
                                               th:each="olympOpt : ${T(com.example.aplikacja.student.enums.LaureateOrFinalist).values()}"
                                               th:text="${olympOpt.label}" th:value="${olympOpt}">
                                    </td>
                                    <!--                                    <td>-->
                                    <!--                                        <input type="radio" name="historyOfArtOlympiad" id=historyOfArtRadioF>-->
                                    <!--                                    </td>-->
                                    <!--                                    <td>-->
                                    <!--                                        <input type="radio" checked name="historyOfArtOlympiad" id=historyOfArtRadioB>-->
                                    <!--                                    </td>-->
                                    <!--                                </tr>-->
                                </tr>
                                <tr>
                                    <th>Informatyka</th>
                                    <td>
                                        <input type="radio" name="ITOlympiad" id="ITOlympiadL"
                                               class="radio"
                                               th:each="olympOpt : ${T(com.example.aplikacja.student.enums.LaureateOrFinalist).values()}"
                                               th:text="${olympOpt.label}" th:value="${olympOpt}">
                                    </td>
                                    <!--                                    <td>-->
                                    <!--                                        <input type="radio" name="historyOfArtOlympiad" id=historyOfArtRadioF>-->
                                    <!--                                    </td>-->
                                    <!--                                    <td>-->
                                    <!--                                        <input type="radio" checked name="historyOfArtOlympiad" id=historyOfArtRadioB>-->
                                    <!--                                    </td>-->
                                    <!--                                </tr>-->
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="collapse" id="other">
                        <h3 style="text-align: center; margin-top: 20px">Dodatkowe parametry</h3>
                        <div class="card card-body">
                            <table class="table">
                                <tr>
                                    <th>Umiejętność szybkiego liczenia</th>
                                    <td>
                                        <select name="fastCounting">
                                            <option value="">Wybierz</option>
                                            <option th:each="abilityOpt : ${T(com.example.aplikacja.student.enums.Ability).values()}"
                                                    th:text="${abilityOpt.label}" th:value="${abilityOpt}"></option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Umiejętność szybkiego czytania</th>
                                    <td>
                                        <select name="fastReading" required>
                                            <option value="">Wybierz</option>
                                            <option th:each="abilityOpt : ${T(com.example.aplikacja.student.enums.Ability).values()}"
                                                    th:text="${abilityOpt.label}" th:value="${abilityOpt}"></option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Umiejętność rozwiązywania problemów</th>
                                    <td>
                                        <select name="troubleshooting" required>
                                            <option value="">Wybierz</option>
                                            <option th:each="abilityOpt : ${T(com.example.aplikacja.student.enums.Ability).values()}"
                                                    th:text="${abilityOpt.label}" th:value="${abilityOpt}"></option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Umiejętność szybkiego zapamiętywania</th>
                                    <td>
                                        <select name="quickMemorization" required>
                                            <option value="">Wybierz</option>
                                            <option th:each="abilityOpt : ${T(com.example.aplikacja.student.enums.Ability).values()}"
                                                    th:text="${abilityOpt.label}" th:value="${abilityOpt}"></option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Umiejętności aktorskie</th>
                                    <td>
                                        <select name="actingSkills" required>
                                            <option value="">Wybierz</option>
                                            <option th:each="abilityOpt : ${T(com.example.aplikacja.student.enums.Ability).values()}"
                                                    th:text="${abilityOpt.label}" th:value="${abilityOpt}"></option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Umiejętności wokalne</th>
                                    <td>
                                        <select name="vocalSkills" required>
                                            <option value="">Wybierz</option>
                                            <option th:each="abilityOpt : ${T(com.example.aplikacja.student.enums.Ability).values()}"
                                                    th:text="${abilityOpt.label}" th:value="${abilityOpt}"></option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Umiejętności taneczne</th>
                                    <td>
                                        <select name="danceSkills" required>
                                            <option value="">Wybierz</option>
                                            <option th:each="abilityOpt : ${T(com.example.aplikacja.student.enums.Ability).values()}"
                                                    th:text="${abilityOpt.label}" th:value="${abilityOpt}"></option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Umiejętności pisarskie</th>
                                    <td>
                                        <select name="writingSkills" required>
                                            <option value="">Wybierz</option>
                                            <option th:each="abilityOpt : ${T(com.example.aplikacja.student.enums.Ability).values()}"
                                                    th:text="${abilityOpt.label}" th:value="${abilityOpt}"></option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Umiejętności fotograficzne</th>
                                    <td>
                                        <select name="photographicSkills" required>
                                            <option value="">Wybierz</option>
                                            <option th:each="abilityOpt : ${T(com.example.aplikacja.student.enums.Ability).values()}"
                                                    th:text="${abilityOpt.label}" th:value="${abilityOpt}"></option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Zdolności lingwistyczne</th>
                                    <td>
                                        <select name="linguisticSkills" required>
                                            <option value="">Wybierz</option>
                                            <option th:each="abilityOpt : ${T(com.example.aplikacja.student.enums.Ability).values()}"
                                                    th:text="${abilityOpt.label}" th:value="${abilityOpt}"></option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Posiadanie certyfikatu językowego</th>
                                    <td>
                                        <select name="languageCertificate" required>
                                            <option value="">Wybierz</option>
                                            <option th:each="abilityOpt : ${T(com.example.aplikacja.student.enums.Ability).values()}"
                                                    th:text="${abilityOpt.label}" th:value="${abilityOpt}"></option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Zainteresowanie polityką</th>
                                    <td>
                                        <select name="interestInPolitics" required>
                                            <option value="">Wybierz</option>
                                            <option th:each="abilityOpt : ${T(com.example.aplikacja.student.enums.Ability).values()}"
                                                    th:text="${abilityOpt.label}" th:value="${abilityOpt}"></option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Umiejętności komunikacyjne</th>
                                    <td>
                                        <select name="communicationSkills" required>
                                            <option value="">Wybierz</option>
                                            <option th:each="abilityOpt : ${T(com.example.aplikacja.student.enums.Ability).values()}"
                                                    th:text="${abilityOpt.label}" th:value="${abilityOpt}"></option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Umiejętności sportowe/predyspozycje sportowe</th>
                                    <td>
                                        <select name="sportSkills" required>
                                            <option value="">Wybierz</option>
                                            <option th:each="abilityOpt : ${T(com.example.aplikacja.student.enums.Ability).values()}"
                                                    th:text="${abilityOpt.label}" th:value="${abilityOpt}"></option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Wyczynowe uprawianie sportu</th>
                                    <td>
                                        <select name="extremeSport" required>
                                            <option value="">Wybierz</option>
                                            <option th:each="abilityOpt : ${T(com.example.aplikacja.student.enums.Ability).values()}"
                                                    th:text="${abilityOpt.label}" th:value="${abilityOpt}"></option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Sprawność fizyczna</th>
                                    <td>
                                        <select name="physicalFitness" required>
                                            <option value="">Wybierz</option>
                                            <option th:each="abilityOpt : ${T(com.example.aplikacja.student.enums.Ability).values()}"
                                                    th:text="${abilityOpt.label}" th:value="${abilityOpt}"></option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Wytrzymałość fizyczna</th>
                                    <td>
                                        <select name="physicalEndurance" required>
                                            <option value="">Wybierz</option>
                                            <option th:each="abilityOpt : ${T(com.example.aplikacja.student.enums.Ability).values()}"
                                                    th:text="${abilityOpt.label}" th:value="${abilityOpt}"></option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Umiejętność pracy na otwartym terenie</th>
                                    <td>
                                        <select name="workInTheOpenGround" required>
                                            <option value="">Wybierz</option>
                                            <option th:each="abilityOpt : ${T(com.example.aplikacja.student.enums.Ability).values()}"
                                                    th:text="${abilityOpt.label}" th:value="${abilityOpt}"></option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Umiejętność posługiwania się mapą</th>
                                    <td>
                                        <select name="abilityToUseAMap" required>
                                            <option value="">Wybierz</option>
                                            <option th:each="abilityOpt : ${T(com.example.aplikacja.student.enums.Ability).values()}"
                                                    th:text="${abilityOpt.label}" th:value="${abilityOpt}"></option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                <tr>
                                    <th>Dobra znajomość tablicy Mendelejewa</th>
                                    <td>
                                        <select name="periodicTable" required>
                                            <option value="">Wybierz</option>
                                            <option th:each="abilityOpt : ${T(com.example.aplikacja.student.enums.Ability).values()}"
                                                    th:text="${abilityOpt.label}" th:value="${abilityOpt}"></option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Tworzenie własnych doświadczeń chemicznych</th>
                                    <td>
                                        <select name="chemicalExperiments" required>
                                            <option value="">Wybierz</option>
                                            <option th:each="abilityOpt : ${T(com.example.aplikacja.student.enums.Ability).values()}"
                                                    th:text="${abilityOpt.label}" th:value="${abilityOpt}"></option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Zainteresowania biologiczno-przyrodnicze</th>
                                    <td>
                                        <select name="biologicalAndNaturalInterests" required>
                                            <option value="">Wybierz</option>
                                            <option th:each="abilityOpt : ${T(com.example.aplikacja.student.enums.Ability).values()}"
                                                    th:text="${abilityOpt.label}" th:value="${abilityOpt}"></option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Zainteresowanie technologią</th>
                                    <td>
                                        <select name="interestInTechnology" required>
                                            <option value="">Wybierz</option>
                                            <option th:each="abilityOpt : ${T(com.example.aplikacja.student.enums.Ability).values()}"
                                                    th:text="${abilityOpt.label}" th:value="${abilityOpt}"></option>
                                        </select>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <span th:text="${emailExist}" class="emailError"/><br>
                    <span th:text="${addedStudent}" class="confirmationOfAdding"/><br>

                    <input class="commit btnSt" type="reset" value="Wyczyść formularz">

                    <input class="commit btnSt" type="submit" value="Zapisz" style="margin-left: 450px;">

                </form>
<!--                <button type="button" class="btnSt"><a href="/previousPage" style="color: black">Lista uczniów</a></button>-->
                <button class="btnSt" type="button">
                    <a th:href="@{'/showStudents'}" style="color: black">Lista uczniów</a></button>

                <!--                <button type="button" class="commit"><a href="/thanksForSignIn">Powrót</a></button>-->
                <!--                <a class="btn-mybutton" data-toggle="collapse" href="#dateOfStudent" role="button">Informacje o uczniu</a>-->
                <!--                <a class="btn-mybutton" data-toggle="collapse" href="#result" role="button">Egzaminy</a>-->
                <!--                <a class="btn-mybutton" data-toggle="collapse" href="#grades" role="button">Oceny</a>-->
                <!--                <a class="btn-mybutton" data-toggle="collapse" href="#olympiad" role="button">Olimpiady</a>-->
                <!--                <a class="btn-mybutton" data-toggle="collapse" href="#other" role="button">Dodatkowe parametry</a>-->
            </div>
        </div>
    </div>
</div>
</body>
</html>