<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/style.css}"/>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
            crossorigin="anonymous"></script>

    <title>Klasa</title>
</head>
<body>

<h2 style="text-align: center;margin-top: 60px; margin-bottom: 20px">Więcje informacji o klasie</h2>

<div class="containerButtons">

    <button class="btnSt" type="button"><a th:href="@{'/updateClass/' + ${klasa.id}}" style="color: black">
        Edytuj dane klasy</a></button>
    <!--    <button class="btnSt" type="button"><a th:href="@{'/enterParameters/' + ${klasa.id}}" style="color: black">-->
    <!--        Parametry</a></button>-->

    <button type="button" class="btnSt"><a th:href="@{'/confirmDeleteClass/' + ${klasa.id}}" style="color: black">Usuń
        klasę</a></button>
    <button class="btnSt" type="button"><a th:href="@{'/listOfClass'}" style="color: black">
        Lista klas</a></button>

    <button class="btnSt" type="button"><a th:href="@{'/listOfStudentForClass'}" style="color: black">
        Lista zakwalifikowanych uczniów</a> </button>
</div>


<div class="tabelka">
    <table class="table">
        <th class="firstTh">Nazwa</th>
        <th class="firstTh">Symbol</th>
        <th class="firstTh">Limit uczniów</th>
        <th class="firstTh">Rocznik</th>
        <th class="firstTh">Przedmioty kierunkowe</th>
        <th class="firstTh">Umiejętności kierunkowe</th>
        <tr class="firstTr">
            <td class="firstTd" th:text="${klasa.nameOfClass}"/>
            <td class="firstTd" th:text="${klasa.symbol}"/>
            <td class="firstTd" th:text="${klasa.liczba}"/>
            <td class="firstTd" th:text="${#dates.year(klasa.year)}"/>
            <td class="firstTd">
                <p th:each="role: ${klasa.weightOfGrade}" th:text="${role.subject.label}">
            </td>
            <td class="firstTd">
                <p th:each="role: ${klasa.umiejetnosci}" th:text="${role}">
            </td>
        </tr>
    </table>

    <table class="table">
        <th class="firstTh">Parametr</th>
        <th colspan="3" class="firstTh">Wartość</th>

        <tr class="firstTr">
            <td class="firstTd">Waga przedmiotów kierunkowych</td>
            <td class="firstTd" th:each="role: ${klasa.weightOfGrade}" th:text="${role.wartosc}"/>
        </tr>
        <tr class="firstTr">
            <td class="firstTd">Minimalna średnia ocen</td>
            <td colspan="2" class="firstTd" th:text="${klasa.minAvgGrade}"/>
            <td class="firstTd">
                <button class="btnSt">
                    <a th:href="@{'/countMinAvg/' + ${klasa.id}}" style="color: black">Policz punkty</a>
                </button>
            </td>
        </tr>
        <tr class="firstTr">
            <td class="firstTd">Waga punktów za laureata olimpiady</td>
            <td colspan="2" class="firstTd"></td>
            <td class="firstTd" th:text="${klasa.numberOfPointsForOlimp}"/>
        </tr>
        <tr class="firstTr">
            <td class="firstTd">Waga punktów za finalistę olimpiady</td>
            <td colspan="2" class="firstTd"></td>
            <td class="firstTd" th:text="${klasa.numberOfPointsForFinalist}"/>
        </tr>

        <tr class="firstTr">
            <td class="firstTd">Waga punktów za egzamin z matematyki</td>
            <td colspan="2" class="firstTd"></td>
            <td class="firstTd" th:text="${klasa.weightExamMath}"/>
        </tr>

        <tr class="firstTr">
            <td class="firstTd">Waga punktów za egzamin z języka polskiego</td>
            <td colspan="2" class="firstTd"></td>
            <td class="firstTd" th:text="${klasa.weightExamPolish}"/>
        </tr>

        <tr class="firstTr">
            <td class="firstTd">Waga punktów za egzamin z języka angielskiego</td>
            <td colspan="2" class="firstTd"></td>
            <td class="firstTd" th:text="${klasa.weightExamEnglish}"/>
        </tr>

        <tr>
            <td class="firstTd">Minimalna liczba punktów za egzamin</td>
            <td colspan="2" class="firstTd" th:text="${klasa.minAmountOfPointsFromExams}"/>
            <td class="firstTd" >
                <button class="btnSt">
                    <a th:href="@{'/countAvg/' + ${klasa.id}}" style="color: black">Policz punkty</a>
                </button>
            </td>

        </tr>

    </table>
</div>
<!--<div class="subjects">-->
<!--    <h3>Wybrane przedmioty dla profilu klasy</h3>-->
<!--    <p th:each="role: ${klasa.przedmiot}" th:text="${role}">-->
<!--</div>-->

<!--<div class="skills">-->
<!--    <h3>Wybrane umiejętności dla profilu klas</h3>-->
<!--    <p th:each="role: ${klasa.umiejetnosci}" th:text="${role}">-->
<!--</div>-->


</body>
</html>