<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/style.css}"/>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
            crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <title>Aktualizacja klasy</title>

    <!--    <script type="text/javascript">-->
    <!--        function getRoleDialog() {-->
    <!--            var dialog = document.getElementById("roleUpdate");-->
    <!--            document.getElementById("save").onclick = function () {-->
    <!--                onclick("/changeClass");-->
    <!--                dialog.close();-->
    <!--                window.location.reload(true);-->
    <!--            }-->
    <!--            document.getElementById("przedmioty").onclick = function () {-->
    <!--                dialog.show();-->
    <!--            }-->
    <!--        }-->
    <!--    </script>-->
</head>
<body>


<div class="container-fluid" id="tytul">
    <header>
        <h1>Edycja klasy</h1>
    </header>
</div>
<div class="container">
    <div class="row">
        <div class="row" style="display: block;margin: auto; margin-top: 25px">
            <div>
                <a class="btn-mybutton" style="color: black" data-toggle="collapse" href="#dataOfClass" role="button">Dane
                    klasy</a>
                <a class="btn-mybutton" style="color: black" data-toggle="collapse" href="#skillsOfClass"
                   role="button">Umiejętności</a>
                <!--                <a class="btn-mybutton" style="color: black" data-toggle="collapse" href="#subjectOfClass"-->
                <!--                   role="button">Przedmioty</a>-->
                <a class="btn-mybutton" style="color: black" data-toggle="collapse" href="#parametersOfClass"
                   role="button">Parametry</a>
                <form th:action="@{/changeClass}" method="post">
                    <input name="_method" type="hidden" value="PUT"/>
                    <input type="hidden" name="id" th:value="${klasa.id}">
                    <div class="collapse show" id="dataOfClass">
                        <h3 style="text-align: center; margin-top: 25px">Edytuj dane klasy</h3>
                        <div class="card card-body">
                            <table class="table">
                                <tr>
                                    <td>Nazwa klasy</td>
                                    <td>
                                        <select name="nameOfClass" th:field="${klasa.nameOfClass}" required>
                                            <option value="">Wybierz</option>
                                            <option th:each="nameOpt : ${T(com.example.aplikacja.student.enums.NameOfClass).values()}"
                                                    th:text="${nameOpt.label}" th:value="${nameOpt}"
                                                    th:selected="${klasa.nameOfClass}"></option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Symbol klasy</td>
                                    <td>
                                        <input type="text" name="symbol" th:value="${klasa.symbol}" required>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Limit uczniów</td>
                                    <td>
                                        <input type="text" name="liczba" th:value="${klasa.liczba}" required>
                                    </td>
                                </tr>
<!--                                <tr>-->
<!--                                    <td>Rocznik</td>-->
<!--                                    <td>-->
<!--                                        <input id="year" type="date" name="year"-->
<!--                                               pattern="(0[1-9]|1[0-9]|2[0-9]|3[01]).(0[1-9]|1[012]).[0-9]{4}"-->
<!--                                               min='1899-01-01'-->
<!--                                               max='2000-13-13'-->
<!--                                               th:value="${klasa.year}"-->
<!--                                               required-->

<!--                                               oninvalid="InvalidDate(this);"-->
<!--                                               oninput="InvalidDate(this);"/>-->
<!--                                        <script>-->
<!--                                            let today = new Date();-->
<!--                                            let dd = today.getDate();-->
<!--                                            let mm = today.getMonth() + 1; //January is 0!-->
<!--                                            let yyyy = today.getFullYear();-->

<!--                                            if (dd < 10) {-->
<!--                                                dd = '0' + dd;-->
<!--                                            }-->

<!--                                            if (mm < 10) {-->
<!--                                                mm = '0' + mm;-->
<!--                                            }-->

<!--                                            today = yyyy + '-' + mm + '-' + dd;-->
<!--                                            document.getElementById("year").setAttribute("max", today);-->
<!--                                        </script>-->

<!--                                        <script> function InvalidDate(numberbox) {-->
<!--                                            if (numberbox.validity.patternMismatch) {-->
<!--                                                numberbox.setCustomValidity('Enter valid date');-->
<!--                                            } else if (numberbox.validity.valueMissing) {-->
<!--                                                numberbox.setCustomValidity('This field cannot be empty ');-->
<!--                                            } else {-->
<!--                                                numberbox.setCustomValidity('');-->
<!--                                            }-->
<!--                                            return true;-->
<!--                                        }</script>-->
<!--                                    </td>-->
<!--                                </tr>-->
                            </table>
                        </div>
                    </div>
                    <!--                    <div class="collapse" id="subjectOfClass">-->
                    <!--                        <h3 style="text-align: center; margin-top: 25px">Wybierz 3 przedmioty definiujące klasę</h3>-->
                    <!--                        <div class="card card-body" style="width:70%">-->
                    <!--                            <input type="checkbox" name="przedmioty" style="display: block; margin: auto;-->
                    <!--                                margin-left: 250px"-->
                    <!--                                   th:each="role: ${T(com.example.aplikacja.student.enums.Subject).values()}"-->
                    <!--                                   th:text="${role.label}"-->
                    <!--                                   th:value="${role}"/>-->
                    <!--                            &lt;!&ndash;                                   oninvalid="InvalidCount(this);"&ndash;&gt;-->
                    <!--                            &lt;!&ndash;                                   oninput="InvalidCount(this);"/>&ndash;&gt;-->
                    <!--                            &lt;!&ndash;                            <script> function InvalidCount(subjectbox) {&ndash;&gt;-->
                    <!--                            &lt;!&ndash;                                let i;&ndash;&gt;-->
                    <!--                            &lt;!&ndash;                                for(i = 0; i < subjectbox.count(); i++){&ndash;&gt;-->
                    <!--                            &lt;!&ndash;                                    if (i > 3) {&ndash;&gt;-->
                    <!--                            &lt;!&ndash;                                        subjectbox.setCustomValidity('Niepoprawna liczba przedmiotów');&ndash;&gt;-->
                    <!--                            &lt;!&ndash;                                    }else{&ndash;&gt;-->
                    <!--                            &lt;!&ndash;                                        subjectbox.setCustomValidity('');&ndash;&gt;-->
                    <!--                            &lt;!&ndash;                                    }&ndash;&gt;-->
                    <!--                            &lt;!&ndash;                                }&ndash;&gt;-->
                    <!--                            &lt;!&ndash;                                return true;&ndash;&gt;-->
                    <!--                            &lt;!&ndash;                            }</script>&ndash;&gt;-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                    <div class="collapse" id="skillsOfClass">
                        <h3 style="text-align: center; margin-top: 25px">Wybierz 4 umiejętności
                            definiujące klasę</h3>
                        <div class="card card-body" style="display: block; margin: auto; width: 100%">
                            <div>
                                <input type="checkbox" name="skills"
                                       style="margin-left: 300px; display: block; margin: auto"
                                       th:each="skill: ${T(com.example.aplikacja.student.enums.Skills).values()}"
                                       th:text="${skill}"
                                       th:value="${skill}"
                                       th:field="${klasa.umiejetnosci}"/>
                            </div>
                        </div>
                    </div>
                    <div class="collapse" id="parametersOfClass" style="width: 90%">
                        <h3 style="margin-top: 50px">Wprowadź parametry</h3>
                        <div class="slidecontainer" style="margin-top: 50px;">
                            <!--                            <h6>Minimalna średnia przedmiotów kierunkowych</h6>-->
                            <!--                            <input type="range" min="0" max="7" step="0.01" value="2.5" class="slider" id="minAvgGrade"-->
                            <!--                                   name="minAvgGrade" th:value="${klasa.minAvgGrade}">-->
                            <!--                            <label for="minAvgGrade">Wartość: <span id="demo"></span></label>-->
                            <!--                            <hr>-->

                            <h6>Liczba punktów dla ucznia będącego laureatem olimpiady</h6>
                            <input type="range" min="0" max="1" step="0.1" value="0.2" class="slider"
                                   id="numberOfPointsForOlimp"
                                   name="numberOfPointsForOlimp" th:value="${klasa.numberOfPointsForOlimp}">
                            <label for="numberOfPointsForOlimp">Wartość: <span id="lolimp"></span></label>
                            <hr>

                            <h6>Liczba punktów dla ucznia będącego finalistą olimpiady</h6>
                            <input type="range" min="0" max="1" step="0.1" value="0.8" class="slider"
                                   id="numberOfPointsForFinalist"
                                   name="numberOfPointsForFinalist" th:value="${klasa.numberOfPointsForFinalist}">
                            <label for="numberOfPointsForFinalist">Wartość: <span id="lfinal"></span></label>
                            <hr>

                            <h6>Waga punktów za egzamin z matematyki</h6>
                            <input type="text"
                                   name="weightExamMath" th:value="${klasa.weightExamMath}">
                            <label>Matematyka: <span id="lExamMath"></span></label>
                            <hr>

                            <h6>Waga punktów za egzamin z języka polskiego</h6>
                            <input type="text"
                                   name="weightExamPolish" th:value="${klasa.weightExamPolish}">
                            <label>Język polski: <span id="lExamPolish"></span></label>
                            <hr>

                            <h6>Waga punktów za egzamin z języka angielskiego</h6>
                            <input type="text"
                                   name="weightExamEnglish" th:value="${klasa.weightExamEnglish}">
                            <label>Język angielski: <span id="lExamEnglish"></span></label>
                            <hr>

                            <!--                            <h6>Minimalna liczba punktów z egzaminu dla wybranego profilu</h6>-->
                            <!--                            <input type="range" min="0" max="1" step="0.01" value="0.1" class="slider"-->
                            <!--                                   id="minAmountOfPointsFromExams"-->
                            <!--                                   name="minAmountOfPointsFromExams" th:value="${klasa.minAmountOfPointsFromExams}">-->
                            <!--                            <label for="minAmountOfPointsFromExams">Wartość: <span id="lexams"></span></label>-->
                            <!--                            <hr>-->

                            <h6>Waga przedmiotów kierunkowych</h6>
                            <input type="range" min="0" max="6.0" step="0.01" value="4.4" class="slider"
                                   id="firstSubject" name="wartosc1"
                                   th:text="${klasa.weightOfGrade.get(0).subject.label}"
                                   th:value="${klasa.weightOfGrade.get(0).wartosc}">
                            <label for="firstSubject">Wartość: <span id="lfirstSubject"></span></label>
                            <input type="hidden" name="id1" th:value="${klasa.weightOfGrade.get(0).id}"/>
                            <hr>

                            <input type="range" min="0" max="6.0" step="0.01" value="2.7" class="slider"
                                   id="secondSubject" name="wartosc2"
                                   th:text="${klasa.weightOfGrade.get(1).subject.label}"
                                   th:value="${klasa.weightOfGrade.get(1).wartosc}">
                            <label for="secondSubject">Wartość: <span id="lsecondSubject"></span></label>
                            <input type="hidden" name="id2" th:value="${klasa.weightOfGrade.get(1).id}"/>
                            <hr>

                            <input type="range" min="0" max="6.0" step="0.01" value="5.9" class="slider"
                                   id="thirdSubject" name="wartosc3"
                                   th:text="${klasa.weightOfGrade.get(2).subject.label}"
                                   th:value="${klasa.weightOfGrade.get(2).wartosc}">
                            <label for="thirdSubject">Wartość: <span id="lthirdSubject"></span></label>
                            <input type="hidden" name="id3" th:value="${klasa.weightOfGrade.get(2).id}"/>
                            <hr>

                            <h6>Wpisz trzy wartości ułamkowe, które posłużą do wyliczenia minimalnej
                                liczby punktów z egzaminów.</h6>
                            <label>1 wartość</label>
                            <td>
                                <input type="text" name="first" th:value="${klasa.first}"
                                       pattern="[0-9]{1}[.]{1}[0-9]{2}">
                            </td>
                            <hr>
                            <label>2 wartość</label>
                            <input type="text" name="second" th:value="${klasa.second}"
                                   pattern="[0-9]{1}[.]{1}[0-9]{2}"/>
                            <hr>
                            <label>3 wartość</label>
                            <input type="text" name="third" th:value="${klasa.third}"
                                   pattern="[0-9]{1}[.]{1}[0-9]{2}"/>

                        </div>
                    </div>

                    <span th:text="${errorClass}" class="emailError"/><br>
                    <span th:text="${updateClass}" class="confirmationOfAdding"/><br>
                    <!--                    <input class="commit btnSt" type="reset" value="Wyczyść formularz">-->

                    <button class="btnSt" type="button" style="margin-left: 80px">
                        <a th:href="@{'/listOfClass'}" style="color: black">Lista klas</a>
                    </button>

                    <button class="btnSt">
                        <a th:href="@{'/aboutClass/' + ${klasa.id}}" style="color: black">Wróć do obecnej klasy</a>
                    </button>

                    <!--                    <button class="btnSt" type="button" style="margin-left: 80px">-->
                    <!--                        <a th:href="@{'/moreAboutClass'}" style="color: black">Klasa</a>-->
                    <!--                    </button>-->

                    <input class="commit btnSt" style="margin-left: 250px; margin-right: 100px" type="submit"
                           value="Zapisz">
                </form>
            </div>
            <script>
                // var slider = document.getElementById("minAvgGrade");
                // var output = document.getElementById("demo");
                var olimp = document.getElementById("numberOfPointsForOlimp");
                var labelOlimp = document.getElementById("lolimp");
                var finalista = document.getElementById("numberOfPointsForFinalist");
                var labelfinal = document.getElementById("lfinal");
                // var exam = document.getElementById("minAmountOfPointsFromExams");
                // var labelExam = document.getElementById("lexams");
                var first = document.getElementById("firstSubject");
                var labelFirst = document.getElementById("lfirstSubject");
                var second = document.getElementById("secondSubject");
                var labelSecond = document.getElementById("lsecondSubject");
                var third = document.getElementById("thirdSubject");
                var labelThird = document.getElementById("lthirdSubject");
                // var minAve = document.getElementById("minAveGrade");
                // var lminAve = document.getElementById("lminAveGrade");
                // var weightOfMath = document.getElementById("weightExamMath");
                // var labelExamMath = document.getElementById("lExamMath");
                // var weightOfPolsih = document.getElementById("weightExamPolish");
                // var labelExamPolish = document.getElementById("lExamPolish");
                // var weightOfEnglish = document.getElementById("weightExamEnglish");
                // var labelExamEnglish = document.getElementById("lExamEnglish");


                // output.innerHTML = slider.value;
                labelOlimp.innerHTML = olimp.value;
                labelfinal.innerHTML = finalista.value;
                // labelExam.innerHTML = exam.value;
                labelFirst.innerHTML = first.value;
                labelSecond.innerHTML = second.value;
                labelThird.innerHTML = third.value;
                // lminAve.innerHTML = minAve.value;
                // labelExamMath.innerHTML = weightOfMath.value;
                // labelExamPolish.innerHTML = weightOfPolsih.value;
                // labelExamEnglish.innerHTML = weightOfEnglish.value;

                // slider.oninput = function () {
                //     output.innerHTML = this.value;
                // }

                olimp.oninput = function () {
                    labelOlimp.innerHTML = this.value;
                }

                finalista.oninput = function () {
                    labelfinal.innerHTML = this.value;
                }

                // exam.oninput = function () {
                //     labelExam.innerHTML = this.value;
                // }

                first.oninput = function () {
                    labelFirst.innerHTML = this.value;
                }
                second.oninput = function () {
                    labelSecond.innerHTML = this.value;
                }
                third.oninput = function () {
                    labelThird.innerHTML = this.value;
                }
                // minAve.oninput = function () {
                //     lminAve.innerHTML = this.value;
                // }

                // weightOfMath.oninput = function () {
                //     labelExamMath.innerHTML = this.value;
                // }
                //
                // weightOfPolsih.oninput = function () {
                //     labelExamPolish.innerHTML = this.value;
                // }
                //
                // weightOfEnglish.oninput = function () {
                //     labelExamEnglish.innerHTML = this.value;
                // }

            </script>
        </div>
    </div>
</div>
</body>
</html>