body {
    background-color: #33c042;
    /*background-color: #30af40;*/
}

h1 {
    text-align: center;
    font-family: Calibri;
    font-size: 4rem;
}

.btn {
    display: block;
    margin: auto;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    font-size: 2rem;
    font-family: Calibri;
    /*background: linear-gradient(to bottom right, red, yellow);*/
    /*background: linear-gradient(to right, #cac531, #f3f9a7);*/
    background: linear-gradient(to bottom right, #efc009, #ead062);
}

.btn:hover {
    font-weight: bold;
}

.btn-mybutton {
    margin: auto;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.2rem;
    color: black;
    /*background: linear-gradient(to bottom right, red, yellow);*/
    /*background: linear-gradient(to right, #cac531, #f3f9a7);*/
    background: linear-gradient(to bottom right, #efc009, #ead062);
}

.btn-mybutton:hover {
    font-weight: bold;
}

.btnRegister {
    display: block;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    font-size: 1.5rem;
    font-family: Calibri;
    /*background: linear-gradient(to bottom right, red, yellow);*/
    /*background: linear-gradient(to right, #cac531, #f3f9a7);*/
    background: linear-gradient(to bottom right, #efc009, #ead062);
}

.btnRegister:hover {
    font-weight: bold;
}


.btnSt {
    /*background: linear-gradient(to bottom right, red, yellow);*/
    /*background: linear-gradient(to right, #cac531, #f3f9a7);*/
    background: linear-gradient(to bottom right, #efc009, #ead062);
    /*border: 1px solid black;*/
    border-radius: 10px;
    text-align: center;
    padding: 6px;
    font-size: 1.2rem;
    color: black;
    font-family: Calibri;
    /*display: inline;*/
    /*margin: auto;*/
}

.btnSt:hover {
    font-weight: bold;
}

.btnConfirm {
    display: block;
    margin: auto;
    width: 10%;
    margin-bottom: 10px;
    margin-top: 50px;
}

.btnConfirm:hover {
    font-weight: bold;
}

.btnCancle {
    display: block;
    margin: auto;
    width: 10%;
    margin-bottom: 50px
}

.btnCancle:hover {
    font-weight: bold;
}

.buttons {
    /*display: block;*/
    /*margin: auto; !important;*/
    margin-top: 60px;
}

.commit {
    margin-top: 20px;
    margin-bottom: 20px;
}
.mediaCommitSave{
    margin-left: 450px;
}
.mediaListOfStudentsButton{
    margin-top: 30px;
}

.mediaCurrentStudent{
    margin-top: 30px;
}

.mediaCommitSaveForClass{
    margin-left: 250px;
    margin-right: 100px;
}
.mediaCommitListForClass{
    margin-left: 80px;
}


.akapit {
    text-align: center;
    font-size: 1.7rem;
    font-weight: bold;
    margin-top: 60px;
}

.container {
    display: block;
    margin: auto;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 30px;
}

@media screen and (max-width: 1200px){
    .btn-mybutton{
        font-size: 0.8rem;
        display: block;
        margin-top: 5px;
        width: 60%;
    }
    .myForm{
        width:90%;
        display: block;
        margin: auto;
    }

    .myFormSkills{
        width:95%;
        display: block;
        margin: auto;
        font-size: 0.8rem;
    }

    .mediaCommit{
        display: block;
        margin: auto;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .mediaCommitSave{
        display: block;
        margin: auto;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .mediaTable{
        display: block;
        margin: auto;
    }
    .mediaCommitListForStudent{
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .mediaCommitListForClass{
        display: block;
        margin: auto;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .mediaCommitSaveForClass{
        display: block;
        margin: auto;
    }
}

.data {
    margin: auto;
    display: block;
    padding: 25px;
}

.examResult {
    margin-top: 20px;
}

.examResultLabel, gradesLabel {
    font-weight: bold;
}

.grades {
    margin-top: 20px;
}

.percent {
    font-weight: bold;
}

.field {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    /*background: linear-gradient(to right, #cac531, #f3f9a7);*/
    background: linear-gradient(to bottom right, #efc009, #ead062);
    /*background: linear-gradient(to bottom right, red, yellow);*/
    color: black;

}

.registerContainer {
    background: white;
    width: 400px;
    height: 400px;
    margin: auto;
    display: block;
    margin-top: 40px;
    border-radius: 5px;
    padding: 20px;
}

.emailError {
    font-size: 1.5rem;
    color: red;
    margin: auto;
    display: block;
}

.confirmationOfAdding {
    font-size: 1.5rem;
    color: red;
    margin: auto;
    display: block;
}

.tabelka {
    display: block;
    margin: auto;
    max-width: 1200px;
    margin-top: 20px;
    text-align: center;
    font-size: 1.2rem;
}

.tabelka1 {
    display: block;
    margin: auto;
    max-width: 1400px;
    margin-top: 20px;
    text-align: center;
    font-size: 1.2rem;
}

.tabelka2 {
    display: block;
    margin: auto;
    max-width: 400px;
    margin-top: 20px;
    text-align: center;
    font-size: 1.2rem;
}


table {
    border-collapse: collapse;
}

.firstTh {
    width: 400px;
    /*background: linear-gradient(to bottom right, red, yellow);*/
    background: linear-gradient(to bottom right, #efc009, #ead062);
    /*background-color: #cac531;*/
}

.firstTd {
    /*background-color: #708090;*/
    background-color: white;
}

.td {
    background-color: white;
    width: 300px;
}

.containerButtons {
    display: block;
    margin: auto;
}

/*.newContainer{*/
/*    background-color: blue;*/
/*}*/

.radio {
    margin-left: 12px;
    margin-right: 12px;
}

.table2 {
    background-color: lightseagreen;
    margin-top: 5px;
}

.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    /*background: linear-gradient(to bottom right, red, yellow);*/
    /*background: linear-gradient(to right, #cac531, #f3f9a7);*/
    background: linear-gradient(to bottom right, #efc009, #ead062);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    /*background: linear-gradient(to bottom right, red, yellow);*/
    /*background: linear-gradient(to right, #cac531, #f3f9a7);*/
    background: linear-gradient(to bottom right, #efc009, #ead062);
    cursor: pointer;
}
