body{
    background-color: pink;
}

h1{
    text-align: center;
    font-family: Calibri;
    font-size: 4rem;
}

.btn{
    display: block;
    margin: auto;
    border-radius: 10px;
    text-align: center;
    padding:10px;
    font-size: 2rem;
    font-family: Calibri;
    background: linear-gradient(to right, #cac531, #f3f9a7);
}
.btn-mybutton{
    margin: auto;
    text-align: center;
    border-radius: 5px;
    padding:10px;
    font-size: 1.2rem;
    color: black;
    background: linear-gradient(to right, #cac531, #f3f9a7);
}

.btnRegister{
    display: block;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
    text-align: center;
    padding:10px;
    font-size: 1.5rem;
    font-family: Calibri;
    background: linear-gradient(to right, #cac531, #f3f9a7);
}

.btnSt{
    background: linear-gradient(to right, #cac531, #f3f9a7);
    border-radius: 10px;
    text-align: center;
    padding:6px;
    font-size: 1.2rem;
    color: black;
    font-family: Calibri;
    /*display: inline;*/
    /*margin: auto;*/
}

.commit{
    margin-top: 20px;
    margin-bottom: 20px;
}


.akapit{
    text-align: center;
    font-size: 1.7rem;
    font-weight: bold;
}

.container {
    display: block;
    margin: auto;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 30px;
}

.data{
    margin: auto;
    display: block;
    padding: 25px;
}

.examResult{
    margin-top: 20px;
}

.examResultLabel, gradesLabel{
    font-weight: bold;
}

.grades{
    margin-top: 20px;
}

.percent{
    font-weight: bold;
}

.field{
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    background: linear-gradient(to right, #cac531, #f3f9a7);
    color: black;

}

.registerContainer{
    background: white;
    width: 400px;
    height: 400px;
    margin: auto;
    display: block;
    margin-top: 40px;
    border-radius: 5px;
    padding: 20px;
}

.emailError{
    font-size: 1.5rem;
    color: red;
    margin: auto;
    display: block;
}

.confirmationOfAdding{
    font-size: 1.5rem;
    color: red;
    margin: auto;
    display: block;
}

.tabelka{
    display: block;
    margin: auto;
    max-width: 1200px;
    margin-top: 20px;
    text-align: center;
    font-size: 1.2rem;
}

.firstTh{
    width:400px;
    background: linear-gradient(to right, #cac531, #f3f9a7);
}
.firstTd{
    /*background-color: #708090;*/
    background-color: white;
}

.containerButtons{
    margin-left: 250px;
}

/*.newContainer{*/
/*    background-color: blue;*/
/*}*/

.radio{
    margin-left: 12px;
    margin-right: 12px;
}

.table2{
    background-color: lightseagreen;
    margin-top: 5px;
}
